{% extends 'base.html.twig' %}

{% block title %}Hello OrganisationsController!{% endblock %}

{% block body %}
    <div {{ react_component('OrganisationsComponent', { organisations }) }}></div>
{% endblock %}
